In [1]:
import pandas as pd
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
Loandata=pd.read_csv("H:/Machine Learning Algorithms/AdaBoost Classifier/income.csv")

In [3]:
Loandata

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income_level
0,39,77516,13,2174,0,40,0
1,50,83311,13,0,0,13,0
2,38,215646,9,0,0,40,0
3,53,234721,7,0,0,40,0
4,28,338409,13,0,0,40,0
...,...,...,...,...,...,...,...
48837,39,215419,13,0,0,36,0
48838,64,321403,9,0,0,40,0
48839,38,374983,13,0,0,50,0
48840,44,83891,13,5455,0,40,0
48841,35,182148,13,0,0,60,1

In [4]:
X=Loandata.iloc[:,0:6]
Y=Loandata.iloc[:,6]

In [5]:
X

       age  fnlwgt  education_num  capital_gain  capital_loss  hours_per_week
0       39   77516             13          2174             0              40
1       50   83311             13             0             0              13
2       38  215646              9             0             0              40
3       53  234721              7             0             0              40
4       28  338409             13             0             0              40
...    ...     ...            ...           ...           ...             ...
48837   39  215419             13             0             0              36
48838   64  321403              9             0             0              40
48839   38  374983             13             0             0              50
48840   44   83891             13          5455             0              40
48841   35  182148             13             0             0              60

[48842 rows x 6 columns]

In [6]:
Y

0        0
1        0
2        0
3        0
4        0
        ..
48837    0
48838    0
48839    0
48840    0
48841    1
Name: income_level, Length: 48842, dtype: int64

In [7]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [10]:
AdaBoost=AdaBoostClassifier(n_estimators=100,learning_rate=1)

In [11]:
AdaBoost.fit(X_train,Y_train)

AdaBoostClassifier(learning_rate=1, n_estimators=100)

In [12]:
y_predict=AdaBoost.predict(X_test)
y_predict

array([0, 0, 0, ..., 1, 1, 0], dtype=int64)

In [13]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [15]:
print(accuracy_score(Y_test,y_predict))

0.8382638959975433

In [17]:
from sklearn.linear_model import LogisticRegression
mylogregmodel=LogisticRegression()
adabc=AdaBoostClassifier(n_estimators=100,base_estimator=mylogregmodel,learning_rate=1)

In [18]:
model=adabc.fit(X_train,Y_train)

In [19]:
y_pred=model.predict(X_test)
y_pred

array([0, 0, 0, ..., 1, 0, 0], dtype=int64)

In [20]:
print(accuracy_score(Y_test,y_pred))

0.7973180468829972